body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input[type="text"], input[type="password"], input[type="number"], select {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #45a049;
}

.full-width {
    width: 100%; /* Membuat tombol full-width */
    text-align: center; /* Mengatur teks di tengah */
}

.center-text {
    text-align: center; /* Mengatur teks di tengah */
}

.action-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sort-form {
    width: 980px;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 40px;
    margin-bottom: 0px;
    background-color: #fff;
    /* padding: 10px; */
    border-radius: 9px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form label {
    width: 200px;
    font-weight: bold;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}
